{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Hello, world!</h1>
            <p>This is a template for a simple marketing or informational website. It includes a large callout called a
                jumbotron and three supporting pieces of content. Use it as a starting point to create something more
                unique.</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-7">
                <h2><u>Post Area</u></h2>
                <h4>Post Entry</h4>
                <form method="post">
                    {% csrf_token %}
                    {{ form.post }}
                    <br>
                    <button class="btn btn-default">Submit</button>
                    <hr>
                    <h4>Post List</h4>
                    {% for post in posts %}
                        <h6>Post: {{ post.post }}</h6>
                        <p>Post by: {{ post.user.get_full_name }} on {{ post.created }} and updated
                            on {{ post.updated }}</p>
                    {% endfor %}
                </form>
            </div>
            <div class="col-md-5">
                <h2><u>Other People</u></h2>
                <ur class="list-group">
                    {% for user in users %}

                        <li class="list-group-item">

                            <h5 class="lead">
                                <a href="{% url 'accounts:view_profile_with_pk' pk=user.pk %}"
                                   class="text-link">
                                    {{ user.username }}
                                </a>
                            </h5>
                            {% if user not in friends %}
                                <a href="{% url 'home:change_friends' operation='add' pk=user.pk %}"
                                   class="btn btn-sm btn-default">
                                    Add Friend
                                </a>
                            {% endif %}
                        </li>

                    {% endfor %}

                </ur>
                <hr>
                <h2><u>Friend</u></h2>
                <ur class="list-group">
                    {% for friend in friends %}
                        <li class="list-group-item">
                            <h5 class="lead">
                                <a href="{% url 'accounts:view_profile_with_pk' pk=friend.id %}" class="text-link">
                                    {{ friend.username }}
                                </a>
                            </h5>
                            <a href="{% url 'home:change_friends' operation='remove' pk=friend.pk %}"
                               class="btn btn-sm btn-default">
                                Remove Friend
                            </a>
                        </li>
                    {% endfor %}

                </ur>
            </div>
        </div>
        <hr>

{% endblock %}